<!-- Airports.hbs -->
<h1>Airports</h1>

<div id="link-buttons-div">
  <button class="link-buttons"> <a href="/">Home/Passengers</a> </button>
  <button class="link-buttons"> <a href="Airports.hbs">Browse Airports</a> </button>
  <button class="link-buttons"> <a href="Flights.hbs">Browse Flights</a> </button>
  <button class="link-buttons"> <a href="CreditCards.hbs">Browse Credit Cards</a> </button>
  <button class="link-buttons"> <a href="Tickets.hbs">Browse Tickets</a> </button>
</div>

<br>
<br>

<link rel="stylesheet" href="./css/test.css">

{{!-- Create a table --}}
<table id="airportsTable">

  {{!-- Header section --}}
  <thead>

    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>

    {{!-- For each row, print the airportID, city, state, country, name, and code in order --}}
    {{#each data}}
    <tr data-value={{this.airportID}}>
      <td>{{this.airportID}}</td>
      <td>{{this.city}}</td>
      <td>{{this.state}}</td>
      <td>{{this.country}}</td>
      <td>{{this.name}}</td>
      <td>{{this.code}}</td>
      <td><button id="delete-button" onclick="deleteAirport({{this.airportID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/deleteAirport.js"></script>

{{!-- Form for adding a new airport using HTML --}}
<h2>Add an Airport using an HTML form</h2>
<p>To add a new airport, please enter their information below and click `Submit`!</p>
<form id="add-airports-form" method="POST" action="/add-airports-form">
  <label for="input-city">City: </label>
  <input type="text" name="input-city" id="input-city" required>

  <label for="input-state">State (if applicable): </label>
  <input type="text" name="input-state" id="input-state">

  <label for="input-country">Country: </label>
  <input type="text" name="input-country" id="input-country" required>

  <label for="input-name">Name: </label>
  <input type="text" name="input-name" id="input-name" required>

  <label for="input-code">Code: </label>
  <input type="text" name="input-code" id="input-code" required>

  <input type="submit" id="submit-button">

</form>

{{!-- Form for updating an airport using ajax --}}
<h2>Update An Airport</h2>
<p>To update a specific airport, select the airport you wish to update. Then select new values for its attributes. </p>
<form id="update-airport-form-ajax">
  <label for="update-airport-airportID">Airport </label>
  <select name="input-airportID" id="update-airports-airportID">
    <option value="test">Select an Airport</option>
    {{#each data}}
    <option value="{{this.airportID}}">{{this.name}}</option>
    {{/each}}
  </select>
  <label for="update-airport-city">City: </label>
  <input type="text" name="update-airports-city" id="update-airports-city" required>

  <label for="update-airport-state">State: </label>
  <input type="text" name="update-airports-state" id="update-airports-state">

  <label for="update-airport-country">Country: </label>
  <input type="text" name="update-airports-country" id="update-airports-country" required>

  <label for="update-airport-name">Name: </label>
  <input type="text" name="update-airports-name" id="update-airports-name" required>

  <label for="update-airport-code">Code: </label>
  <input type="text" name="update-airports-code" id="update-airports-code" required>
  <input type="submit" id="submit-button">

</form>
<script src="./js/updateAirport.js"></script>