<!-- index.hbs -->
<h1>Passengers</h1>

<div id="link-buttons-div">
  <button class="link-buttons"> <a href="/">Home/Passengers</a> </button>
  <button class="link-buttons"> <a href="Airports.hbs">Browse Airports</a> </button>
  <button class="link-buttons"> <a href="Flights.hbs">Browse Flights</a> </button>
  <button class="link-buttons"> <a href="CreditCards.hbs">Browse Credit Cards</a> </button>
  <button class="link-buttons"> <a href="Tickets.hbs">Browse Tickets</a> </button>
</div>

<br>
<br>

<link rel="stylesheet" href="./css/test.css">

{{!-- Create a table --}}
<table id="passengersTable">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the passengerID, firstName, lastName, streetAddress, city, state, country in order --}}
        {{#each data}}
        <tr data-value="{{this.passengerID}}">
            <td align="center">{{this.passengerID}}</td>
            <td align="center">{{this.firstName}}</td>
            <td align="center">{{this.lastName}}</td>
            <td align="center">{{this.streetAddress}}</td>
            <td align="center">{{this.city}}</td>
            <td align="center">{{this.state}}</td>
            <td align="center">{{this.country}}</td>
            <td align="center"><button id="delete-button" onclick="deletePassenger({{this.passengerID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/deletePassenger.js"></script>

{{!-- Form for adding a new passenger using HTML --}}
<h2>Adding Data using an HTML form</h2>
<p>To add a new passenger, please enter their information below and click `Submit`!</p>
<form id="add-passengers-form" method="POST" action="/add-passengers-form">
    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName" required>
    
    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName" required>

    <label for="input-streetAddress">Street Address: </label>
    <input type="text" name="input-streetAddress" id="input-streetAddress">

    <label for="input-city">City: </label>
    <input type="text" name="input-city" id="input-city">

    <label for="input-age">State: </label>
    <input type="text" name="input-state" id="input-state">

    <label for="input-age">Country: </label>
    <input type="text" name="input-country" id="input-country">

    <input type="submit" id="submit-button">
</form>

{{!-- Form for updating a passenger using ajax --}}
<h2>Update A Passenger</h2>
<p>To update a specific passenger, select the passenger you wish to update. Then enter new values for its attributes. </p>
<form id="update-passenger-form-ajax">
    <label for="update-passenger-passengerID">Passenger: </label>
    <select name="input-passengerID" id="update-passenger-passengerID">
        <option value="test">Select a Passenger</option>
        {{#each data}}
        <option value="{{this.passengerID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="update-passenger-firstName">First Name: </label>
    <input type="text" name="update-passenger-firstName" id="update-passenger-firstName" required>

    <label for="update-passenger-lastName">Last Name: </label>
    <input type="text" name="update-passenger-lastName" id="update-passenger-lastName" required>

    <label for="update-passenger-streetAddress">Street Address: </label>
    <input type="text" name="update-passenger-streetAddress" id="update-passenger-streetAddress">

    <br>

    <label for="update-passenger-city">City: </label>
    <input type="text" name="update-passenger-city" id="update-passenger-city">

    <label for="update-passenger-state">State: </label>
    <input type="text" name="update-passenger-state" id="update-passenger-state">

    <label for="update-passenger-country">Country: </label>
    <input type="text" name="update-passenger-country" id="update-passenger-country">

    <input type="submit" id="submit-button">

</form>
<script src="./js/updatePassenger.js"></script>